@import '~bootstrap/scss/bootstrap';
@import '@fortawesome/fontawesome-free/css/all.min.css';

$background-dark: #343a40;
$background-light:#f8f9fa ;
$font-color-white: #fff;
$font-color-black: #000;
$main-padding: 10px 20px;
$border-radius-small: 5px;
$transition-fast: 0.3s ease;
$font-family-base: 'Arial, sans-serif';
$background-alert: #c82333; 

.createButton,  .deleteButton, .purchase-button, .btn-agregarCarrito {
  @extend .button-style;
  
}

.button-style {
  background-color: $background-alert; 
  color: $font-color-white; 
  border: none;
  border-radius: $border-radius-small;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color $transition-fast;
  
  &:hover {
    background-color: darken($background-alert, 10%);
  }
}

body {
  font-family: $font-family-base;
  background-color: #f8f9fa;
}

.app-container {
  background-color:$background-dark;
  color: $font-color-white;
  padding: 0.5rem ;

}

.email-phone-container {
  display: flex;
  justify-content: space-between;
}

.store-header {
  margin-top: 1rem;
}

.search-container {
  display: flex;
  align-items: center;
}

.margin-left-1rem {
  margin-left: 1rem;
}

/*Navbar*/

.navbar {
  background-color: $background-alert;;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:$main-padding;
}


.nav-link {
  color:$font-color-white;
}

/*login logout button*/
.auth-buttons {
  margin-left:1000px;
  margin-top: -150px; 
}
.auth-buttons button {
  background-color: #ae8850; 
 
}

.auth-buttons button:hover {
  background-color: $background-alert; 
}

.botonLogOut button{
  margin-left: 1100px;
  background-color: #F8F9FA; 
  color: black; 
  border: none;
  border-radius: 5px; 
  padding: 10px 20px; 
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease; 
  width: 100px;
  height: 40px;
}

.botonLogOut button:hover {
  background-color: $background-alert; 
}
/*Trajetas*/

.card-header {
  font-size: 1.25rem;
  text-align: center;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*estilos para contenedores de tarjetas */

.container.mt-5 {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* formulario */

.formulario-contenedor {
  display: flex;
  justify-content: center;
  align-items: left;
  margin-bottom: 50px;
  margin-top: -500px;
  margin-right: 600px;
 

}

form {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
} 
/*estilos para contenedores de select*/


.form-select-container {
  display: flex;
  justify-content: space-between;

}

.titleF {
  padding-top: 30px;
  text-align: left;
  margin-left: -40px;
  margin-bottom: 500px;
}


/*Botones de compras y favoritos  */



/* Estilo cuando el artículo ya está añadido al carrito */
.btn-agregarCarrito.added {
  background-color: #6c757d;
  color: $font-color-white;
  border-color: #6c757d;
}

.botonCerrar{
  background-color: #e7e7e7;
  color: $background-dark;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  flex: 0.5;
  flex-shrink: 0; 
  flex-shrink: 0; 
  margin-right: 10px;
  position: absolute;
  top: 10px;
  right: 5px;
  padding: 5px , 5px;
  font-size: 16px; 
  font-weight: bold;
}

.botonCerrar:hover {
  background-color:$background-alert;
}

/* LandingPage */
.landing-page-container {
  background-color: #EEF0F2;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  min-height: 100vh; 
}

.landing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url('./assets/diseño/Landing.png');
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 20px;
  background-color: #EEF0F2;
  background-repeat: no-repeat;
  width: 100%; 
  max-width: 1500px;

}

.login-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: rgba(0, 123, 255, 0.8); 
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.Landing2{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url('./assets/diseño/Landing22.jpg');
  background-size:contain;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  color: white; 
  background-color: #EEF0F2;
  margin: 0; 
  padding: 0; 
  width: 100%;
  box-sizing: border-box; 
}


.Landingspace{
  height: 20px;
}

.Landing3{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url('./assets/diseño/Sobrenosotros.png');
  background-size:contain;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  color: white; 
  background-color: #EEF0F2;
  margin: 0; 
  padding: 0; 
  padding-top: 100px;
  width: 100%;
  box-sizing: border-box; 
}

/* HomePage */
.homePage {
  position: relative;
  height: 100vh; 
  width: 100%;
  overflow: hidden;
}

.backgroundImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; 
}

/*Footer*/

.footer {
  background-color: #eef0f2;
  padding: 20px 0;

  .redes {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: $background-dark;
    color: white;

    a {
      text-decoration: none;
      color: white;

      i {
        margin-left: 5px;
      }

      &:hover {
        color: #adb5bd;
      }
    }
  }

  .footer-bottom {
    background-color: #e7e7e7;
    color: black;
    padding: 20px 0;
    text-align: center;

    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .row {
        width: 100%;
        display: flex;
        justify-content: space-between;
      }

      .col-md-6 {
        flex: 1;

        &.copyright {
          text-align: left;
        }

        &.template-by {
          text-align: right;
        }
      }
    }
  }
}
/*Cart */
.cart-header,  .cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.cart-header{  
  background-color: #f1f1f1;
  border-bottom: 2px solid #ddd;
  font-weight: bold;}

.header-item, .item-name, .item-price-unit, .item-quantity, .item-total-price{
  flex: 1;
  text-align: center;
}

.remove-button {
  flex: 1;
  text-align: center; 
  background-color: transparent !important;
  border: none;
  color:$background-alert;
}

.cart-container {
  padding: 20px;
  background-color: #e7e7e7; 
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: 0 auto;
  margin-top: 50px;
}

.cart-title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color:$background-dark; 
}

.cart-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.item-name {
  font-weight: bold;
  flex: 1;
}

.item-price-unit, .item-total-price, .item-name, .item-quantity {
  margin-left: 10px;
  flex: 1;
  text-align: center;
}

.quantity-input {
  width: 60px;
  text-align: center;
  border-radius: 4px;
  border: 1px solid #ddd;
  padding: 5px;
  flex: 0.5;
}


.total-price {
  text-align: right;
  margin-top: 20px;
  font-size: 22px;
  color: $background-dark;
}


/* AdminDashboard */

.panelAdmin{
  margin-top: 22px;
  margin-left: 200px;
  margin-right: 200px;
  padding-bottom:15px ;
  background-color: #eef0f2;
  border-radius: 5px;
}
.adminContainer {
  display: flex;
  align-items: flex-end;
  background-color: #e7e7e7;
  border-radius: 8px;
  padding: 20px;
}

.columnAdmin {
  .itemcolum {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #a4a3a3;
    color: white;
    margin-bottom: 20px;
    margin-right: 30px;
    border-radius: 4px; 
    text-align: center; 
    width: 200px; 
    height: 50px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    &.active {
      background-color:$background-alert;
    }
    &:hover {
      background-color: #e7e7e7; 
      color:$background-dark; 
    }
  }.itemcolum.active {
    background-color:#ff6f61!important;
    color: white !important;
  }
}

.adminTabContent {
  background-color: white;
  border: 1px solid #e7e7e7;
  border-radius: 8px;
  padding: 20px;
}
.title {
  padding-top: 30px;
  text-align: left;
  margin-left: 150px;
}



.deleteContainer {
  padding: 20px;
  background-color: #e7e7e7;
  border-radius: 8px;

  h2 {
    text-align: center;
    margin-bottom: 20px;
  }


  .productsList {
    list-style-type: none;
    padding: 0;
  }

  .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  }
}

.createContainer {
  padding: 20px;
  background-color: #e7e7e7;
  border-radius: 8px;

  h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;

    .createCategoryInput {
      width: 100%;
      padding: 10px;
      margin-bottom: 20px;
      border-radius: 20px;
      border: 1px solid #ccc;
    }


  }
}